@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}
.logo {
      background: url("../images/1st.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out; 
}
